.layout-content-navbar .course-content-body{
  flex-basis: 100%;
  flex-direction: column;
  width: 0;
  min-width: 0;
  max-width: 100%;
}

.certificatebtn {
    margin: 50px 0 0 0 ; 
    margin-left: 40px;
  }

  .internshipReqBtn{
    margin: 25px 0; 
    margin-left: 33px;
  }
  .topic{
    font-family:sans-serif;
    padding: 20px;
    padding-left: 30%;
    
  }
  .subtopic{
    margin:20px 100px;
    font-family:sans-serif;
    padding-left: 10%;
    
  }
.ulList{
    list-style: disc;
    margin: 10px 20%;
}

.example{
  margin: 10px 20%;
  margin-top: 50px;
}
.card-content1{
  width: 48%;
  height: fit-content;
  margin-top: 2%;
  margin-left: 6%;
  box-shadow: 2px 2px 2px 2px rgb(219, 219, 219);
  border-radius:10px ;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: rgb(250, 250, 250);
}

.card-content{
  width: 90%;
  height: fit-content;
  margin-top: 2%;
  margin-left: 6%;
  box-shadow: 2px 2px 2px 2px rgb(219, 219, 219);
  border-radius:10px ;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: rgb(250, 250, 250);
}
.answer1{
  margin-bottom: 15px;
   
}
.answer1 {
  display: flex;
  align-items: center; 
  
}
.form-con{
  width: 30px;
  color: black;
}

.form-check-input{
  margin-right: 5px;
}
.btn-color{
  color: white;
}

.btn-color:hover{
  color: white;
}
.example-title{
  text-decoration: underline;
}
