.managecourse{
    margin-top: 100px;
    width: 1000px;
    margin-left: -220px;
}

.managecoursebtn1{
    font-size: 16px;
    margin-top: 10px;
    /* background-color: red; */
    border-radius: 5px;
    width: 80px;
    color: white;
    padding-left: 15px;
}

.managecoursebtn2{
    font-size: 16px;
    padding-top: -10px;
    /* background-color: rgb(168, 233, 255); */
    border-radius: 5px;
    color: white;
    width: 80px;
    padding-left: 25px;
}

.uu:hover{
    color: white;
}

.managecoursebtn3{
    font-size: 15px;
    margin-top: 0px;
    /* background-color: rgb(157, 235, 159); */
    border-radius: 5px;
    color: white;
    width: 127px;
    padding-left: 20px;
}

.managecoursebtnmain button {
    margin-right: 10px; /* Adjust this value as needed */
    
}

.coursemanage{
    background-color: aqua;
    height: 100px;
}

.qwe {
    display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px 20px 40px 20px;
  margin-top: 80px;
  margin-right: 100px;
  height: 60px;

}

.rty{
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(17, 47, 107);
    border-radius: 5px;
    display: flex;
}

.courseStyle{
    color: white;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.courseStyle:hover {
    color: white;
}

.uu{
    color: white;
}
  