.textv{
    color: #6e6c6c;
    font-size: 17px;
}

.manageroadmaptxt{
    color: #6e6c6c;
    font-size: 17px ;
}

.manageroadmapbtn1{
    /* background-color: red; */
    font-style: oblique;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10%; /* Makes the button round */
    border: none; /* Removes default button border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
}

.editbtn{
    font-style: oblique;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 50px;
    border-radius: 10%; /* Makes the button round */
    border: none; /* Removes default button border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.arm{
  margin-left: 100px;
  margin-top: 220px;
  font-size: 10px;
    background-color: rgb(17, 47, 107);
    border-radius: 5px;
}

.armv{
display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding-right: 20px;
  margin-top: -420px;
  margin-right: 165px;
}

.roadmapStyle{
    color: white;
    padding-top: 0px;
    margin-right: 0px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50p;
}

.roadmapStyle:hover {
    color: white;
}

.finaltablech{
    margin-left: -150px;
    margin-top: 150px;
}

.managecoursebtn2{
    color: aqua;
}


.editbtn:hover{
    color: white;
}

